[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
nanoid = "*"
bcrypt = "*"
marshmallow = "*"
flask-session = "*"

[dev-packages]
black = "*"
pylint = "*"
djlint = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
