{% extends "admin/layout.html" %} {% block _content %}
<form
  class="flex flex-col items-center w-full max-h-screen px-6 py-8 space-y-8 overflow-y-auto sm:py-16 justify-items-center md:p-16"
  onsubmit="saveUpdate(); return false"
  id="location-form"
>
  <div class="flex flex-col items-center justify-between w-full space-y-4 sm:space-y-0 sm:flex-row">
    <h1 class="text-3xl font-bold sm:text-4xl">Add a new location</h1>
    <div class="flex flex-wrap items-center justify-center gap-4">
      {{ macros.button('Save', type='submit', class='w-max px-7')}} {{ macros.button('
      <div class="flex items-center space-x-3">
        <span>Cancel</span>
      </div>
      ', type='button', variant='outline', class='text-red-500 w-max px-7',
      onclick='deleteLocation()') }}
    </div>
  </div>
  <div class="grid w-full max-w-5xl grid-flow-row grid-cols-2 gap-6">
    <div class="flex flex-col col-span-2 space-y-1 sm:col-span-1">
      <label for="name" class="text-sm">Name</label>
      {{ macros.textInput(name="name", id="name", required=true)}}
    </div>
    <div class="flex items-center justify-center h-full col-span-2 space-x-3 sm:col-span-1">
      <input type="checkbox" name="featured" />
      <label for="featured" class="text-lg">Featured</label>
    </div>
    <div class="flex flex-col col-span-2 space-y-1 sm:col-span-1">
      <label for="address" class="text-sm">Address</label>
      {{ macros.textInput(name="address", id="address", required=true)}}
    </div>
    <div class="flex flex-col col-span-2 space-y-1 sm:col-span-1">
      <label for="status" class="text-sm">Status</label>
      <select name="status" id="status" class="h-12 px-4 border rounded border-dark-300">
          <option value="UNAVAILABLE">unavailable</option>
        <option value="AVAILABLE">available</option>
      </select>
    </div>
    <div class="flex flex-col col-span-2 space-y-1 sm:col-span-1">
      <label for="opening_hours" class="text-sm">Opening Hours</label>
      {{ macros.textInput(name="opening_hours", id="opening_hours", required=true)}}
    </div>
    <div class="flex flex-col col-span-2 space-y-1 sm:col-span-1">
      <label for="features" class="text-sm">Features (separated by a , )</label>
      {{ macros.textInput(name="features", id="features")}}
    </div>
    <div class="flex flex-col col-span-2 space-y-1 sm:col-span-1">
      <label for="description" class="text-sm">Description</label>
      <textarea
        id="description"
        name="description"
        class="h-40 p-4 border rounded disabled:cursor-not-allowed disabled:opacity-80 border-dark-300 placeholder:font-light placeholder:text-dark-200 placeholder:text-sm focus-ring"
        required
      ></textarea
      >
    </div>
    <div class="flex flex-col col-span-2 space-y-1 sm:col-span-1">
      <label for="checkin_instructions" class="text-sm">Checkin Instructions</label>
      <textarea
        id="checkin_instructions"
        name="checkin_instructions"
        class="h-40 p-4 border rounded disabled:cursor-not-allowed disabled:opacity-80 border-dark-300 placeholder:font-light placeholder:text-dark-200 placeholder:text-sm focus-ring"
        required
      ></textarea
      >
    </div>
    <div class="flex flex-col col-span-2 space-y-1 sm:col-span-1">
      <label for="main_photo" class="text-sm">Main Photo</label>
      {{ macros.textInput(type='url', name="main_photo", id="main_photo", required=true)}}
    </div>
    <div class="flex flex-col col-span-2 space-y-1 sm:col-span-1">
      <label for="additional_photo" class="text-sm">Additional Photo</label>
      {{ macros.textInput(type='url', name="additional_photos", id="additional_photos", required=true)}}
    </div>
    <div class="flex flex-col col-span-2 space-y-1 sm:col-span-1">
      <label for="maps" class="text-sm">Google maps link</label>
      {{ macros.textInput(type='url', name="maps", id="maps", required=true)}}
    </div>
    <div class="flex flex-col col-span-2 space-y-1 sm:col-span-1">
      <label for="phone_number" class="text-sm">Phone Number</label>
      {{ macros.textInput(type='tel', name="phone_number", id="phone_number")}}
    </div>
    <div class="flex flex-col col-span-2 space-y-1 sm:col-span-1">
      <label for="email" class="text-sm">Email</label>
      {{ macros.textInput(type='email', name="email", id="email")}}
    </div>
    <div class="flex flex-col col-span-2 space-y-1 sm:col-span-1">
      <label for="website" class="text-sm">Website</label>
      {{ macros.textInput(type='url', name="website", id="website", required=true)}}
    </div>
  </div>
</form>
{% endblock _content %} {% block scripts %} {{ super() }}
<script>
  const form = document.getElementById("location-form");
  function saveUpdate() {
    var xhttp = new XMLHttpRequest();
    var formData = new FormData(form);
    formData.set("featured", form["featured"].checked ? 1 : 0);
    var payload = JSON.stringify(Object.fromEntries(formData));
    xhttp.open("POST", "/_/locations/add", true); //synchronous
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.onload = function () {
      if (xhttp.status === 200) {
        window.location.href = xhttp.responseText;
      }
    };
    xhttp.send(payload);
  }
</script>
{% endblock %}
