{% extends "base.html" %} {% block content %}
<main class="flex flex-col items-center justify-center w-full h-screen px-4 space-y-8">
  {{ macros.logo(class="h-20") }}
  <div class="flex flex-col items-center text-center">
    <h1 class="text-3xl font-bold">Create an account</h1>
    <span class="text-lg font-light">We can't seem to find your admin account</span>
  </div>
  <form
    id="signup-form"
    onsubmit="submitForm(); return false"
    onfo=""
    class="relative flex flex-col w-full max-w-md space-y-4"
  >
    {{ macros.textInput(type='text', placeholder='Username', name="username", id="username",
    required=true) }} {{ macros.textInput(type='password', placeholder='Password', name="password",
    id="password", class='w-full', required=true) }}
    <span class="text-sm font-light text-center"
      >password must contain a minimum of eight characters, at least one letter, one number and one
      special character</span
    >
    {{ macros.button("Create account", type='submit', class="sm:col-span-2") }}
    <ul
      id="signup-error"
      class="absolute left-0 right-0 mx-auto text-center text-red-500 -bottom-10"
    ></ul>
  </form>
</main>
{% endblock content %} {% block scripts %}
<script>
  const PASSWORD_REGEX = new RegExp(
    /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/
  );
  const form = document.getElementById("signup-form");
  const signUpErrors = document.getElementById("signup-error");
  const parseValidationError = (obj) => {
    for (const [key, value] of Object.entries(obj)) {
      value.forEach((msg) => {
        const li = document.createElement("li");
        li.innerHTML = `${key} - ${msg}`;
        signUpErrors.appendChild(li);
      });
    }
  };
  const submitForm = async () => {
    const username = form["username"].value;
    const password = form["password"].value;
    const payload = JSON.stringify({ username, password });
    if (!PASSWORD_REGEX.test(password)) {
      return (document.getElementById("signup-error").innerHTML = "password not strong enough");
    }
    const res = await fetch("/_/auth/create", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: payload,
    });
    if (res.ok) {
      return (window.location.href = "/_/");
    }
    const data = await res.json();
    parseValidationError(data);
  };
  // Clear error message on refocus of form
  form.addEventListener("focusin", () => {
    document.getElementById("signup-error").innerHTML = "";
  });
</script>
{% endblock scripts %}
