{% extends "admin/layout.html" %} {% block _content%}
<div class="flex flex-col w-full p-8">
    <div class="flex flex-row justify-between w-full">
        <div class="flex justify-between">
            <span class="font-bold">Welcome back !!</span>
        </div>
        <div class="flex">
            <span class="font-light">Admin portal</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none">
                <path
                    d="M12.12 12.78a.963.963 0 0 0-.24 0 3.27 3.27 0 0 1-3.16-3.27c0-1.81 1.46-3.28 3.28-3.28a3.276 3.276 0 0 1 .12 6.55ZM18.74 19.38A9.934 9.934 0 0 1 12 22c-2.6 0-4.96-.99-6.74-2.62.1-.94.7-1.86 1.77-2.58 2.74-1.82 7.22-1.82 9.94 0 1.07.72 1.67 1.64 1.77 2.58Z"
                    stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10Z" stroke="black"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </div>
        <div class="flex flex-col space-y-1 font-semibold ">
            <p>last logged in:</p>
            <span id="date"></span>
            <span id="time"></span>
        </div>
    </div>
    <div class="flex justify-between">
        <div class="flex flex-wrap">
            <div class="flex flex-col items-center w-48 h-48 p-4 space-y-4 border rounded shadow border-black-300">
                <span class="font-bold">Members</span>
                <a href="/_/members">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none">
                        <path
                            d="M18 7.16a.605.605 0 0 0-.19 0 2.573 2.573 0 0 1-2.48-2.58c0-1.43 1.15-2.58 2.58-2.58a2.58 2.58 0 0 1 2.58 2.58A2.589 2.589 0 0 1 18 7.16ZM16.97 14.44c1.37.23 2.88-.01 3.94-.72 1.41-.94 1.41-2.48 0-3.42-1.07-.71-2.6-.95-3.97-.71M5.97 7.16c.06-.01.13-.01.19 0a2.573 2.573 0 0 0 2.48-2.58C8.64 3.15 7.49 2 6.06 2a2.58 2.58 0 0 0-2.58 2.58c.01 1.4 1.11 2.53 2.49 2.58ZM7 14.44c-1.37.23-2.88-.01-3.94-.72-1.41-.94-1.41-2.48 0-3.42 1.07-.71 2.6-.95 3.97-.71M12 14.63a.605.605 0 0 0-.19 0 2.573 2.573 0 0 1-2.48-2.58c0-1.43 1.15-2.58 2.58-2.58a2.58 2.58 0 0 1 2.58 2.58c-.01 1.4-1.11 2.54-2.49 2.58ZM9.09 17.78c-1.41.94-1.41 2.48 0 3.42 1.6 1.07 4.22 1.07 5.82 0 1.41-.94 1.41-2.48 0-3.42-1.59-1.06-4.22-1.06-5.82 0Z"
                            stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </a>
                <span class="font-bold"> {{total_users}}</span>
            </div>
        </div>
        <div class="flex flex-wrap">
            <div class="flex flex-col items-center w-48 h-48 p-4 space-y-4 border rounded shadow border-black-300">
                <span class="font-bold">Locations</span>
                <a href="/_/locations">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none">
                        <path d="M12 13.43a3.12 3.12 0 1 0 0-6.24 3.12 3.12 0 0 0 0 6.24Z" stroke="black"
                            stroke-width="1.5"></path>
                        <path
                            d="M3.62 8.49c1.97-8.66 14.8-8.65 16.76.01 1.15 5.08-2.01 9.38-4.78 12.04a5.193 5.193 0 0 1-7.21 0c-2.76-2.66-5.92-6.97-4.77-12.05Z"
                            stroke="black" stroke-width="1.5"></path>
                    </svg>
                </a>
                <span class="font-bold"> {{total_locations}}</span>
            </div>
        </div>
        <div class="flex flex-wrap">
            <div class="flex flex-col items-center w-48 h-48 p-4 space-y-4 border rounded shadow border-black-300">
                <span class="font-bold">Bookings</span>
                <a href="/_/bookings">
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none">
                        <path
                            d="M2 22h20M17 2H7C4 2 3 3.79 3 6v16h18V6c0-2.21-1-4-4-4ZM7 16.5h3M14 16.5h3M7 12h3M14 12h3M7 7.5h3M14 7.5h3"
                            stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </a>
                <span class="font-bold"> {{total_bookings}}</span>
            </div>
        </div>
    </div>
    </br>
    <div class="flex justify-between">
        <div class="flex flex-wrap">
            <div class="flex flex-col items-center w-48 h-48 p-4 space-y-4 border rounded shadow border-black-300">
                <span class="font-bold">Pending Bookings</span>
                <a href="/_/bookings/manage?status=PENDING">
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none">
                        <path d="M22 12c0 5.52-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2s10 4.48 10 10Z" stroke="black"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="m15.71 15.18-3.1-1.85c-.54-.32-.98-1.09-.98-1.72v-4.1" stroke="black"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </a>
                <span class="font-bold"> {{total_pending}}</span>
            </div>
        </div>
        <div class="flex flex-wrap">
            <div class="flex flex-col items-center w-48 h-48 p-4 space-y-4 border rounded shadow border-black-300">
                <span class="font-bold">Comfirmed Bookings</span>
                <a href="/_/bookings/manage?status=APPROVED">
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none">
                        <path d="M12 22c5.5 0 10-4.5 10-10S17.5 2 12 2 2 6.5 2 12s4.5 10 10 10Z" stroke="black"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="m7.75 12 2.83 2.83 5.67-5.66" stroke="black" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </a>
                <span class="font-bold"> {{total_comfirmed}}</span>
            </div>
        </div>
        <div class="flex flex-wrap">
            <div class="flex flex-col items-center w-48 h-48 p-4 space-y-4 border rounded shadow border-black-300">
                <span class="font-bold">Cancelled Bookings</span>
                <a href="/_/bookings/manage?status=CANCELLED">
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none">
                        <path
                            d="M12 22c5.5 0 10-4.5 10-10S17.5 2 12 2 2 6.5 2 12s4.5 10 10 10ZM9.17 14.83l5.66-5.66M14.83 14.83 9.17 9.17"
                            stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </a>
                <span class="font-bold"> {{total_cancelled}}</span>
            </div>
        </div>
    </div>
    </br>
    <div class="flex justify-between">
        <div class="flex flex-wrap">
            <div class="flex flex-col items-center w-48 h-48 p-4 space-y-4 border rounded shadow border-black-300">
                <span class="font-bold">Declined Bookings</span>
                <a href="/_/bookings/declined">
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none">
                        <path
                            d="M3.62 8.49c1.97-8.66 14.8-8.65 16.76.01 1.15 5.08-2.01 9.38-4.78 12.04a5.194 5.194 0 0 1-7.21 0c-2.76-2.66-5.92-6.97-4.77-12.05Z"
                            stroke="black" stroke-width="1.5"></path>
                        <path d="M14 12.96 10.04 9M13.96 9.04 10 13" stroke="#FF8A65" stroke-width="1.5"
                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </a>
                <span class="font-bold"> {{total_declined}}</span>
            </div>
        </div>
        <div class="flex flex-wrap">
            <div class="flex flex-col items-center w-48 h-48 p-4 space-y-4 border rounded shadow border-black-300">
                <span class="font-bold">Add Location</span>
                <a href="/_/locations/add">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none">
                        <path d="M9.25 11h5.5M12 13.75v-5.5" stroke="black" stroke-width="1.5" stroke-linecap="round">
                        </path>
                        <path
                            d="M3.62 8.49c1.97-8.66 14.8-8.65 16.76.01 1.15 5.08-2.01 9.38-4.78 12.04a5.193 5.193 0 0 1-7.21 0c-2.76-2.66-5.92-6.97-4.77-12.05Z"
                            stroke="black" stroke-width="1.5"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="flex-wrap">
            <div class="flex flex-col items-center w-48 h-48 p-4 space-y-4 border rounded shadow border-black-300">
                <span class="font-bold">Manage Reviews</span>
                <a href="/_/reviews/manage">
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none">
                        <path d="M9 22h6c5 0 7-2 7-7V9c0-5-2-7-7-7H9C4 2 2 4 2 9v6c0 5 2 7 7 7Z" stroke="black"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M18.38 15.27V7.58c0-.77-.62-1.33-1.38-1.27h-.04c-1.34.11-3.37.8-4.51 1.51l-.11.07c-.18.11-.49.11-.68 0l-.16-.1C10.37 7.08 8.34 6.41 7 6.3c-.76-.06-1.38.51-1.38 1.27v7.7c0 .61.5 1.19 1.11 1.26l.18.03c1.38.18 3.52.89 4.74 1.56l.03.01c.17.1.45.1.61 0 1.22-.68 3.37-1.38 4.76-1.57l.21-.03c.62-.07 1.12-.64 1.12-1.26ZM12 8.1v9.56"
                            stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
</main>


<script>
    var dt = new Date();
    document.getElementById("date").innerHTML = dt.toLocaleDateString();
</script>
<script>
    var dt = new Date();
    document.getElementById("time").innerHTML = dt.toLocaleTimeString();
</script>
{% endblock %}