{% extends "layout.html" %} {% block _content %}
<div class="flex flex-col items-center space-y-12 lg:pt-16 max-w-[1366px] lg:mx-6">
  <div class="flex flex-col items-center justify-between w-full gap-6 lg:flex-row max-w-7xl">
    <form
      class="flex flex-col items-center max-w-lg mx-6 space-y-8 lg:mx-0"
      id="booking-form"
      onsubmit="submitBookingForm(); return false"
    >
      <div class="flex flex-col items-center space-y-2">
        <h2 class="text-4xl font-bold">{{location.name}}</h2>
        <span class="font-light">{{location.opening_hours}}</span>
        <div class="flex flex-wrap items-center justify-center gap-3">
          <a
            class="flex items-center px-2 py-1 space-x-2 text-xs border rounded focus-ring border-dark-200"
            href="{{location.maps}}"
            target="_blank"
          >
            <svg
              width="12"
              height="12"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.99994 6.715C6.2048 6.715 6.40766 6.67465 6.59693 6.59625C6.7862 6.51786 6.95817 6.40295 7.10303 6.25809C7.24789 6.11323 7.3628 5.94126 7.44119 5.75199C7.51959 5.56272 7.55994 5.35986 7.55994 5.155C7.55994 4.95014 7.51959 4.74728 7.44119 4.55802C7.3628 4.36875 7.24789 4.19677 7.10303 4.05191C6.95817 3.90706 6.7862 3.79215 6.59693 3.71375C6.40766 3.63535 6.2048 3.595 5.99994 3.595C5.5862 3.595 5.18941 3.75936 4.89685 4.05191C4.6043 4.34447 4.43994 4.74126 4.43994 5.155C4.43994 5.56874 4.6043 5.96553 4.89685 6.25809C5.18941 6.55064 5.5862 6.715 5.99994 6.715V6.715Z"
                stroke="#2C2C2C"
              />
              <path
                d="M1.80985 4.245C2.79485 -0.0849988 9.20986 -0.0799987 10.1899 4.25C10.7649 6.79 9.18486 8.94 7.79986 10.27C7.31589 10.7368 6.66973 10.9976 5.99736 10.9976C5.32498 10.9976 4.67882 10.7368 4.19486 10.27C2.81485 8.94 1.23485 6.785 1.80985 4.245V4.245Z"
                stroke="#2C2C2C"
              />
            </svg>
            <span class="whitespace-nowrap"> {{location.address}} </span>
          </a>
          <a
            class="flex items-center px-2 py-1 space-x-2 text-xs underline border rounded focus-ring border-dark-300"
            href="{{location.website}}"
            target="_blank"
          >
            <svg
              width="12"
              height="12"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_3_629)">
                <path
                  d="M6 11C8.7615 11 11 8.7615 11 6C11 3.2385 8.7615 1 6 1C3.2385 1 1 3.2385 1 6C1 8.7615 3.2385 11 6 11Z"
                  stroke="#2C2C2C"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M3.99979 1.5H4.49979C3.52481 4.42078 3.52481 7.57922 4.49979 10.5H3.99979M7.49979 1.5C8.47478 4.42078 8.47478 7.57922 7.49979 10.5"
                  stroke="#2C2C2C"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1.5 8.00004V7.50004C4.42078 8.47502 7.57922 8.47502 10.5 7.50004V8.00004M1.5 4.50004C4.42078 3.52505 7.57922 3.52505 10.5 4.50004"
                  stroke="#2C2C2C"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_3_629">
                  <rect width="12" height="12" fill="white" />
                </clipPath>
              </defs>
            </svg>
            <span class="whitespace-nowrap">
              {{location.website.replace("https://", "").replace("http://", "")}}
            </span>
          </a>
          <dt class="sr-only">Reviews</dt>
        </div>
      </div>
      <div class="grid w-full grid-flow-row grid-cols-2 gap-4">
        <div class="flex flex-col col-span-2 space-y-1 sm:col-span-1">
          <label for="checkin_date" class="text-sm">Check In</label>
          <input
            id="checkin_date"
            name="checkin_date"
            type="datetime-local"
            class="h-12 px-4 border rounded disabled:cursor-not-allowed disabled:opacity-80 border-dark-300 placeholder:font-light placeholder:text-dark-200 placeholder:text-sm focus-ring"
            required
          />
        </div>
        <div class="flex flex-col col-span-2 space-y-1 sm:col-span-1">
          <label for="checkout_date" class="text-sm">Check Out</label>
          <input
            id="checkout_date"
            name="checkout_date"
            type="datetime-local"
            class="h-12 px-4 border rounded disabled:cursor-not-allowed disabled:opacity-80 border-dark-300 placeholder:font-light placeholder:text-dark-200 placeholder:text-sm focus-ring"
            required
          />
        </div>
        <div class="flex flex-col col-span-2 space-y-1">
          <label for="comments" class="text-sm">Special Requests (optional)</label>
          <textarea
            id="comments"
            name="comments"
            class="h-32 p-4 border rounded disabled:cursor-not-allowed disabled:opacity-80 border-dark-300 placeholder:font-light placeholder:text-dark-200 placeholder:text-sm focus-ring"
          ></textarea>
        </div>
      </div>
      {{ macros.button("Book now", type='submit', class='w-36') }}
    </form>
    <img
      alt="{{location.name}} main photo"
      src="{{location.main_photo}}"
      class="order-first lg:order-last w-full lg:w-[50%] xl:w-[60%] lg:max-w-2xl lg:rounded object-cover h-auto aspect-video lg:aspect-[4/3]"
    />
  </div>
  <div class="flex flex-col items-center space-y-5">
    <h3 class="text-3xl font-semibold">Reviews</h3>
    {% for booking in unreviewd_bookings %}
      <form
        class="flex flex-col items-center space-y-4 w-96"
        onsubmit="submitReviewForm('{{booking.id}}','{{loop.index}}'); return false"
        id="leave-review"
      >
        <input type="number" id="rating" hidden />
        <div class="flex items-center space-x-3">
          <button type="button" onclick="setReviewRating(1,'{{loop.index}}')" id="star-1">
            {{macros.RatingStar('empty', size='19')}}
          </button>
          <button type="button" onclick="setReviewRating(2,'{{loop.index}}')" id="star-2">
            {{macros.RatingStar('empty', size='19')}}
          </button>
          <button type="button" onclick="setReviewRating(3,'{{loop.index}}')" id="star-3">
            {{macros.RatingStar('empty', size='19')}}
          </button>
          <button type="button" onclick="setReviewRating(4,'{{loop.index}}')" id="star-4">
            {{macros.RatingStar('empty', size='19')}}
          </button>
          <button type="button" onclick="setReviewRating(5,'{{loop.index}}')" id="star-5">
            {{macros.RatingStar('empty', size='19')}}
          </button>
        </div>
        <div class="flex flex-col w-full space-y-1">
          <label for="comment" class="text-sm">Comment (optional)</label>
          <textarea
            id="comment"
            name="comment"
            class="h-32 p-4 border rounded disabled:cursor-not-allowed disabled:opacity-80 border-dark-300 placeholder:font-light placeholder:text-dark-200 placeholder:text-sm focus-ring"
          ></textarea>
        </div>
        {{ macros.button("Submit", type='submit') }}
      </form>
    {% endfor %}
    <div class="flex flex-wrap justify-center gap-6">
      {% for booking in all_bookings %}
        {% if not booking.review == None %}
          {{macros.UserReview(booking.review)}}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock _content %} {% block scripts %} {{ super() }}
<script>
  const bookForm = document.getElementById("booking-form");
  // Set min datetime in picker
  const today = new Date().toISOString().slice(0, 16);
  bookForm["checkin_date"].min = today;
  bookForm["checkin_date"].value = today;
  bookForm["checkout_date"].min = today;

  function submitBookingForm() {
    var datein = bookForm["checkin_date"].value;
    var dateout = bookForm["checkout_date"].value;
    var comments = bookForm["comments"].value;

    params = "datein=" + datein + "&dateout=" + dateout + "&comments=" + comments;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/location/{{ location.id }}/booking", true); //synchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function () {
      if (xhttp.status === 200) {
        window.location.href = xhttp.responseText;
        return;
      }
    };
    xhttp.send(params);
  }
</script>
{% endblock scripts %}
