{% extends "layout.html" %} {% block _content %}
<div class="flex mx-auto space-x-8 max-w-7xl mt-[15vh]">
  <div class="flex flex-col justify-between min-h-full space-y-4">
    <div class="flex flex-col space-y-4">
      <div class="flex items-center space-x-4">
        <h2 class="text-4xl font-semibold">{{booking.location.name}}</h2>
        <svg
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M24.285 3H11.715C6.255 3 3 6.255 3 11.715V24.27C3 29.745 6.255 33 11.715 33H24.27C29.73 33 32.985 29.745 32.985 24.285V11.715C33 6.255 29.745 3 24.285 3ZM25.17 14.55L16.665 23.055C16.4541 23.2657 16.1681 23.384 15.87 23.384C15.5719 23.384 15.2859 23.2657 15.075 23.055L10.83 18.81C10.6208 18.5983 10.5034 18.3126 10.5034 18.015C10.5034 17.7174 10.6208 17.4317 10.83 17.22C11.265 16.785 11.985 16.785 12.42 17.22L15.87 20.67L23.58 12.96C24.015 12.525 24.735 12.525 25.17 12.96C25.605 13.395 25.605 14.1 25.17 14.55V14.55Z"
            fill="#2C2C2C"
          />
        </svg>
      </div>
      <div class="flex flex-col space-y-8">
        <p class="text-lg">
          <span class="font-bold">Thank you!</span> your booking has been created successfully! We shall send you a confirmation
          email with all your details shortly.
          <br />
          <span class="font-bold">Checkin Instructions:</span> {{booking.location.checkin_instructions}}
        </p>
        <div class="flex flex-col space-y-2 w-[18.5rem] font-light">
          <div class="flex items-center justify-between min-w-full">
            <span>Booking id</span>
            <span class="py-2 text-sm text-center rounded bg-black-100 w-52">{{booking.id}}</span>
          </div>
          <div class="flex items-center justify-between min-w-full">
            <span>Check in</span>
            <span class="py-2 text-sm text-center rounded bg-black-100 w-52">{{booking.checkin_date}}</span>
          </div>
          <div class="flex items-center justify-between min-w-full">
            <span>Check out</span>
            <span class="py-2 text-sm text-center rounded bg-black-100 w-52">{{booking.checkout_date}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center space-x-4">
      <a
        href="/account"
        class="flex items-center h-10 px-8 py-1 font-semibold text-white rounded bg-dark w-max"
        >My account</a
      >
      <a href="/locations" class="underline">view more locations</a>
    </div>
  </div>
  <img
    alt="{{booking.location.name}} main photo"
    src="{{booking.location.main_photo}}"
    class="object-cover w-auto h-full max-h-[29rem] rounded aspect-[4/3] min-[1366px]:block hidden"
  />
</div>
{% endblock _content %}
