{% extends "layout.html" %} {% block _content %}
<div class="pt-6 sm:pt-8 lg:pt-16 max-w-[1366px] overflow-hidden">
  <div id="slide-container" class="relative flex items-center transition-transform duration-500">
    {% for location in locations %}
    <div id="slide-{{loop.index}}" class="min-w-[100%] flex flex-col space-y-4 lg:space-y-0 lg:flex-row lg:justify-center items-center lg:space-x-8 2xl:space-x-4">
      <div class="flex flex-col items-center space-y-5 2xl:w-full">
        <div class="flex flex-col items-center space-y-3">
          <h1 class="text-4xl font-bold text-center sm:text-5xl">{{ location.name }}</h1>
          <div class="flex flex-col items-center space-x-2 font-light sm:flex-row">
            <div class="flex items-center space-x-2">
              <span>({{ '%0.1f'| format(rating|float) }})</span>
              <div class="flex items-center space-x-2">
                {% for _ in range(rating|round(0,'floor')|int) %} {{
                macros.RatingStar('filled') }} {% endfor %} {% if rating|round(1) >= 0.5 and
                not ".0" in rating|round(1)|string %} {{ macros.RatingStar('half') }} {% else
                %} {{ macros.RatingStar('empty') }} {% endif %} {% for _ in range(4 -
                rating|round(0,'floor')|int) %} {{ macros.RatingStar('empty') }} {% endfor %}
              </div>
            </div>
            <span class="hidden sm:block">|</span>
            <div class="flex items-center space-x-2">
              <span>{{ location.total_spaces }} spaces</span>
              <span>|</span>
              <span>{{ location.opening_hours }}</span>
            </div>
          </div>
        </div>
        <span class="text-sm font-light text-center">[sample review will go here]</span>
        <a
          href="/location/{{ location.id }}/booking"
          class="flex items-center justify-center w-40 h-10 font-light text-white bg-black rounded sm:w-80"
          >Book now</a
        >
      </div>
      <img
        alt="location main image"
        src="{{ location.main_photo }}"
        class="aspect-video lg:aspect-[4/3] object-cover w-full lg:w-[50%] h-auto 2xl:h-full  2xl:w-auto 2xl:max-h-[33.75rem]"
      />
    </div>
    {% endfor %}
  </div>
  <div class="flex items-center justify-center mt-6 space-x-3">
    {% for i in locations %}
    <button onclick="setActiveSlide('{{loop.index}}')">
      <div
        id="slide-pos-{{loop.index}}"
        class="{% if loop.index == 1 %}w-8 bg-dark{% else %}w-4 bg-dark-100{% endif %} h-2 transition-all rounded-full"
      ></div>
    </button>
    {% endfor %}
  </div>
</div>
<div class="flex flex-col items-center mt-[5vh] lg:mt-[10vh] space-y-6">
  <h2 class="text-2xl font-light lg:text-3xl">Trusted by</h2>
  <div class="flex flex-wrap items-center justify-center w-full h-6 max-w-5xl gap-10 sm:h-8 lg:flex-nowrap lg:justify-between">
    <img alt="microsoft logo" src="{{url_for('static', filename='microsoft.png')}}" class="w-auto h-full" />
    <img alt="eagle labs logo" src="{{url_for('static', filename='eagle.png')}}" class="w-auto h-full" />
    <img alt="welsh government logo" src="{{url_for('static', filename='welsh-gov.png')}}" class="w-auto h-full" />
    <img alt="geovation logo" src="{{url_for('static', filename='geovation.png')}}" class="w-auto h-full" />
    <img alt="google logo" src="{{url_for('static', filename='google.png')}}" class="w-auto h-full" />
  </div>
</div>
{% endblock _content %} {% block scripts %}
{{ super() }}
<script>
  let activeSlide = 1;
  const totalSlides = parseInt("{{locations|length}}");
  const slideContainer = document.getElementById(`slide-container`);
  const setActiveSlide = (index) => {
    if (activeSlide == index) return;
    activeSlide = index;
    const allIndicators = document.querySelectorAll('[id^="slide-pos"]');
    allIndicators.forEach((indicator) => {
      if (!indicator.classList.contains("w-8")) return;
      indicator.classList.replace("w-8", "w-4");
      indicator.classList.replace("bg-dark", "bg-dark-100");
    });
    const currentIndicator = document.getElementById(`slide-pos-${index}`);
    currentIndicator.classList.replace("w-4", "w-8");
    currentIndicator.classList.replace("bg-dark-100", "bg-dark");
    if (index == 1) return (slideContainer.style.transform = "");
    slideContainer.style.transform = `translateX(calc(-100% * ${index - 1}))`;
  };
  setInterval(() => {
    if (activeSlide + 1 > totalSlides) return setActiveSlide(1);
    setActiveSlide(activeSlide + 1);
  }, 7500); // change slide after 7.5 seconds
</script>
{% endblock scripts %}
