{% extends "base.html" %} {% block content %}
<div class="min-h-[100vh]">
    <div class="flex flex-col mx-auto space-y-8 max-w-5x2">
        {% for location in data %}
        <div
            class="w-full h-[32.5rem] border border-black-100 bg-white shadow-md rounded-lg p-10 flex space-x-8 justify-between">
            <div class="flex flex-col justify-between h-full ">
                <div class="flex flex-col space-y-8">
                    <div class="flex flex-col space-y-2">
                        <h2 class="text-3xl font-semibold ">
                            {{location.name}}
                        </h2>
                        <div class="flex space-x-3">
                            <a class="flex items-center px-2 py-1 space-x-2 text-xs underline border rounded focus-ring border-dark-300"
                                href="{{location.website}}">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_3_629)">
                                        <path
                                            d="M6 11C8.7615 11 11 8.7615 11 6C11 3.2385 8.7615 1 6 1C3.2385 1 1 3.2385 1 6C1 8.7615 3.2385 11 6 11Z"
                                            stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
                                        <path
                                            d="M3.99979 1.5H4.49979C3.52481 4.42078 3.52481 7.57922 4.49979 10.5H3.99979M7.49979 1.5C8.47478 4.42078 8.47478 7.57922 7.49979 10.5"
                                            stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
                                        <path
                                            d="M1.5 8.00004V7.50004C4.42078 8.47502 7.57922 8.47502 10.5 7.50004V8.00004M1.5 4.50004C4.42078 3.52505 7.57922 3.52505 10.5 4.50004"
                                            stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_3_629">
                                            <rect width="12" height="12" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <span>
                                    website
                                </span>
                            </a>
                            <a class="flex items-center px-2 py-1 space-x-2 text-xs underline border rounded focus-ring border-dark-200"
                                href="{{location.maps}}">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M5.99994 6.715C6.2048 6.715 6.40766 6.67465 6.59693 6.59625C6.7862 6.51786 6.95817 6.40295 7.10303 6.25809C7.24789 6.11323 7.3628 5.94126 7.44119 5.75199C7.51959 5.56272 7.55994 5.35986 7.55994 5.155C7.55994 4.95014 7.51959 4.74728 7.44119 4.55802C7.3628 4.36875 7.24789 4.19677 7.10303 4.05191C6.95817 3.90706 6.7862 3.79215 6.59693 3.71375C6.40766 3.63535 6.2048 3.595 5.99994 3.595C5.5862 3.595 5.18941 3.75936 4.89685 4.05191C4.6043 4.34447 4.43994 4.74126 4.43994 5.155C4.43994 5.56874 4.6043 5.96553 4.89685 6.25809C5.18941 6.55064 5.5862 6.715 5.99994 6.715V6.715Z"
                                        stroke="#2C2C2C" />
                                    <path
                                        d="M1.80985 4.245C2.79485 -0.0849988 9.20986 -0.0799987 10.1899 4.25C10.7649 6.79 9.18486 8.94 7.79986 10.27C7.31589 10.7368 6.66973 10.9976 5.99736 10.9976C5.32498 10.9976 4.67882 10.7368 4.19486 10.27C2.81485 8.94 1.23485 6.785 1.80985 4.245V4.245Z"
                                        stroke="#2C2C2C" />
                                </svg>
                                <span>
                                    maps
                                </span>
                            </a>
                            <dt class="sr-only">Reviews</dt>
                        </div>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <p1 class="font-light">
                            {{location.description}}
                        </p1>
                        <p2 class="font-light">
                            Checkin Instructions:{{location.checkin_instructions}}
                        </p2>
                    </div>
                    <div class="flex flex-col space-y-2 font-light">
                        <span>
                            Address:{{location.address}}
                        </span>
                        <span>
                            Opening Hours:{{location.opening_hours}}
                        </span>
                        <span>
                            Email:{{location.email}}
                        </span>
                        <span>
                            Tel:{{location.phone_number}}
                        </span>
                    </div>
                </div>
                <a href="/location/{{location.id}}/booking"
                    class="px-6 py-1 font-light text-white bg-black rounded w-max">Book now</a>
            </div>
            <img src="{{location.main_photo}}" class="object-cover w-auto h-full rounded aspect-[12/11]" />
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}