{% extends "base.html" %} {% block content %}
<div class="flex pb-16 mx-20 md:pt-4 xl:pt-8 lg:pt-12">
    <div class="flex flex-col justify-between min-h-full space-y-4">
        <span class="text-3xl font-bold text-center">CONFIRMATION OF DETAILS</span>
        <span class="text-xl font-semibold">Location Details</span>
        <div class="flex flex-col justify-center space-y-4">
            <span class="text-base font-light">Name:{{location.name}}</span>
            <span class="text-base font-light">Address:{{location.address}}</span>
            <span class="text-base font-light">Location:{{location.maps}}</span>
        </div>
        <div class="flex flex-col space-y-2">
            <span class="text-base font-light">Description:{{location.description}}</span>
            <span class="text-base font-light">Checkin_Instructions:{{location.checkin_instructions}}</span>
            <span class="text-base font-light">Opening_Hours:{{location.opening_hours}}</span>
        </div>
        <span class="text-xl font-semibold">Contact Details</span>
        <div class="flex flex-col space-y-2">
            <span class="text-base font-light">Email:{{location.email}}</span>
            <span class="text-base font-light">Tel:{{location.phone_number}}</span>
            <span class="text-base font-light">Website:{{location.Website}}</span>
        </div>
        <span class="text-xl font-semibold">Images</span>
        <div class="flex flex-col space-y-2">
            <span class="text-base font-light">Main_Photo:{{location.main_photo}}</span>
            <span class="text-base font-light">Additional_Photo:{{location.additional_photos}}</span>
        </div>
        <div class="flex justify-between space-x-3">
        <a href="/_/locations" class="flex items-center h-10 px-8 py-1 font-semibold text-white rounded bg-dark w-max">Confirm</a>
        <button
        onclick="deleteLocation('{{location.id}}')"
        class="flex items-center h-10 px-8 py-1 font-semibold text-white rounded bg-dark w-max"
        >CANCEL</button>
        </div>
    </div>
</div>

<script>
    function deleteLocation(id){
        var xhttp = new XMLHttpRequest();
      xhttp.open("DELETE", '/_/location/'+id, true); //synchronous
      xhttp.setRequestHeader("Content-type", "application/json");
      xhttp.onload = function() {
      if (xhttp.status === 200) {
          window.location.href = xhttp.responseText;
      }
      };
      xhttp.send();
    }
</script>
{% endblock %}